
@{
    ViewBag.Title = "carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="row">

        <div class="col-sm-12">

            <div class="card">
                <div class=" card-body">

                    <div class="row">

                        <!--Prodcuto-->
                        <div class="col-sm-9">

                            <div class="me-2">
                                <div class="d-flex justify-content-between">
                                    <h5 class="ms-3 mt2">Detalles Carrito</h5>
                                    <a class="btn btn-primary" href="@Url.Action("Index", "Tienda")"><i class="fas fa-cart-plus"></i> Seguir comprando</a>
                                </div>
                                <hr class="mt-2 mb-2" />

                                <div id="productos-carrito">

                                    <div class="card mb-2 card-producto">
                                        <div class="card-body">
                                            <div class="row">

                                                <div class="col-sm-2 aling-self-center d-flex justify-content-center">
                                                    <img class="rounded" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" style="width:100px; height: 100px" />
                                                </div>

                                                <div class="col-sm-4 align-self-center">
                                                    <span class="font-wight-bold d-block">Marca</span>
                                                    <span>Nombre Producto</span>
                                                </div>

                                                <div class="col-sm-2 align-self-center">
                                                    <span>Precio : S/. 1500</span>

                                                </div>

                                                <div class="col-sm-2 align-self-center">
                                                    <div class="d-flex">
                                                        <button class="btn btn-outline-secondary btn-restar rounded-0">
                                                            <i class="fas fa-minus"></i>
                                                        </button>
                                                        <input class="form-control input-cantidad p-1 text-center rounded-0" disabled style="width:40px" />
                                                        <button class="btn btn-outline-secondary btn-sumar rounded-0">
                                                            <i class="fas fa-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="col-sm-2 align-self-center">
                                                    <button class="btn btn-outline-danger btn-eliminar"><i class="far fa-trash-alt"></i></button>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div class="d-flex justify-content-end">

                                    <label class="align-self-center"><b>Total S/. <span id="total">0</span></b></label>

                                </div>

                            </div>


                        </div>

                        <!--Envio-->
                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body bg-light">
                                    <h5 class="card-title">Detalle del envio </h5>
                                    <form>

                                        <div class="mb-2">
                                            <label for="cboProvincia" class="form-label">Provincia</label>
                                            <select class="form-select form-select-sm" id="cboProvincia"></select>
                                        </div>

                                        <div class="mb-2">
                                            <label for="cboPartido" class="form-label">Partido</label>
                                            <select class="form-select form-select-sm" id="cboPartido"></select>
                                        </div>

                                        <div class="mb-2">
                                            <label for="exampleImputEmail" class="form-label">Nombre de contacto</label>
                                            <input type="text" autocomplete="off" id="txtNombreContacto" class="form-control" value="" />
                                        </div>

                                        <div class="mb-2">
                                            <label for="exampleImputEmail" class="form-label">Direccion</label>
                                            <input type="text" autocomplete="off" id="txtDireccion" class="form-control" value="" />
                                        </div>

                                        <div class="mb-2">
                                            <label for="txtTelefono" class="form-label">Telefono</label>
                                            <input type="text" autocomplete="off" id="txtTelefono" class="form-control" value="" />
                                        </div>

                                        <div class="d-grid">
                                            <button class="btn btn-success" type="button" onclick="realizarPago()">
                                                <i class="fab fa-paypal"></i> Procesar Pago
                                            </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>



        $(document).ready(function () {

            jQuery.ajax({
                url : "@Url.Action("listarProductoCarrito", "Tienda")",
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {

                    $("#productos-carrito").html("");

                    $("#productos-carrito").LoadingOverlay("hide");

                    $.each(response.data, function (i, item) {


                        $("<div>").addClass("card mb-2 card-producto").append(

                            $("<div>").addClass("card-body").append(
                                $("<div>").addClass("row").append(

                                    //1
                                    $("<div>").addClass("col-sm-2 aling-self-center d-flex justify-content-center").append(
                                        $("<img>").addClass("rounded").attr({ "src": "data:image/" + item.Producto.Extension + ";Base64," + item.Producto.Base64 }).
                                            css({ "width": "100px", "height": "100px" })
                                    ),
                                    //2
                                    $("<div>").addClass("col-sm-4 align-self-center").append(
                                        $("<span>").addClass("font-wight-bold d-block").text(item.Producto.IdMarca.Descripcion),
                                        $("<span>").text(item.Producto.Nombre)
                                    ),
                                    //3
                                    $("<div>").addClass("col-sm-2 align-self-center").append(
                                        $("<span>").text(item.Producto.Precio.toFixed(2) + " USD")

                                    ),
                                    //4
                                    $("<div>").addClass("col-sm-2 align-self-center").append(
                                        $("<div>").addClass("d-flex").append(
                                            $("<button>").addClass("btn btn-outline-secondary btn-restar rounded-0").append($("<i>").addClass("fas fa-minus")),
                                            $("<input>").addClass("form-control input-cantidad p-1 text-center rounded-0").attr({ "disabled": "disabled" })
                                                .css({ "width": "40px" })
                                                .data("Producto", item.Producto)
                                                .val(item.Cantidad),
                                            $("<button>").addClass("btn btn-outline-secondary btn-sumar rounded-0").append($("<i>").addClass("fas fa-plus")),
                                        )
                                    ),

                                    //5
                                    $("<div>").addClass("col-sm-2 align-self-center").append(
                                        $("<button>").addClass("btn btn-outline-danger btn-eliminar").append($("<i>").addClass("far fa-trash-alt"), " Eliminar").
                                            data("IdProducto", item.Producto.IdProducto)

                                    )

                                )
                            )

                        ).appendTo("#productos-carrito")

                    })


                    sumaTotal()
                },

                error: function (error) {
                    $("#productos-carrito").LoadingOverlay("hide")
                },
                beforeSend: function () {
                    $("#productos-carrito").LoadingOverlay("show")
                }

            })





            listarProvincia()
        })

        function listarProvincia() {

            $("<option>").attr({ "value": "00", "disabled": "disabled", "selected": "true" }).text("Seleccionar").appendTo("#cboProvincia")


             jQuery.ajax({
                 url : "@Url.Action("obtenerProvincia", "Tienda")",
                 type: "POST",
                 dataType: "json",
                 contentType: "application/json; charset=utf-8",
                 success: function (data) {

                     if (data.lista != null) {
                         $.each(data.lista, function (i, item) {

                             $("<option>").attr({ "value": item.IdProvincia }).text(item.Descripcion).appendTo("#cboProvincia")
                         })
                         listarPartido()
                     }

                 }


             })

        }


        $("#cboProvincia").on("change", function () {
            listarPartido()
        })

        function listarPartido() {

            $("#cboPartido").html("")
            $("<option>").attr({ "value": "00", "disabled": "disabled", "selected": "true" }).text("Seleccionar").appendTo("#cboPartido")


             jQuery.ajax({
                 url : "@Url.Action("obtenerPartido", "Tienda")",
                 type: "POST",
                 data: JSON.stringify({ idProvincia: $("#cboProvincia option:selected").val() }),

                 dataType: "json",
                 contentType: "application/json; charset=utf-8",
                 success: function (data) {

                     if (data.lista != null) {
                         $.each(data.lista, function (i, item) {

                             $("<option>").attr({ "value": item.IdPartido }).text(item.Descripcion).appendTo("#cboPartido")
                         })
                     }

                 }


             })

        }


        function sumaTotal() {

            var sumaTotal = parseFloat(0)

            $("input.input-cantidad").each(function (i) {
                var precio = $(this).data("Producto").Precio;
                var cantidad = parseFloat($(this).val())

                var subTotal = precio * cantidad;

                sumaTotal += subTotal;

             })

            $("#total").text(sumaTotal.toFixed(2))
            $("#total").data("sumaTotal",sumaTotal)
        }



        $(document).on("click", ".btn-sumar", function () {

            var divContenedor = $(this).parent("div.d-flex");

            var inputCantidad = $(divContenedor).find("input.input-cantidad");

            var btn = $(this);

            var IdProducto = $(inputCantidad).data("Producto").IdProducto;

            jQuery.ajax({
                url: "@Url.Action("operacionCarrito", "Tienda")",
                type: "POST",
                data: JSON.stringify({ IdProducto: IdProducto, sumar: false }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(data) {

                    $(btn).LoadingOverlay("hide")


                    if (data.respuesta) {
                        var cantidad = parseInt($(inputCantidad).val()) + 1
                        $(inputCantidad).val(cantidad)
                        sumaTotal()
                    }
                    else {
                        Swal.fire("", data.mensaje, "warning")

                    }
                },
                beforeSend: function () {

                    $(btn).LoadingOverlay("show")

                },
                error: function (error) {
                    $(btn).LoadingOverlay("show")

                }


            })

        })


         $(document).on("click", ".btn-restar", function () {

            var divContenedor = $(this).parent("div.d-flex");

            var inputCantidad = $(divContenedor).find("input.input-cantidad");

            var btn = $(this);

            var IdProducto = $(inputCantidad).data("Producto").IdProducto;

            var cantidad = parseInt($(inputCantidad).val()) - 1

            if (cantidad >= 1) {

                jQuery.ajax({
                    url: "@Url.Action("operacionCarrito", "Tienda")",
                    type: "POST",
                    data: JSON.stringify({ IdProducto: IdProducto, sumar: false }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function(data) {

                        $(btn).LoadingOverlay("hide")


                        if (data.respuesta) {
                            $(inputCantidad).val(cantidad)
                            sumaTotal()
                        }
                        else {
                            Swal.fire("", data.mensaje, "warning")

                        }
                    },
                    beforeSend: function () {
                        $(btn).LoadingOverlay("show")

                    },
                    error: function (error) {
                        $(btn).LoadingOverlay("show")

                    }


                })

            }

         })




         $(document).on("click", ".btn-eliminar", function () {

            var IdProducto = $(this).data("IdProducto");

            var cardProducto = $(this).parents("div.card-producto")

                jQuery.ajax({
                    url: "@Url.Action("eliminarCarrito", "Tienda")",
                    type: "POST",
                    data: JSON.stringify({ IdProducto: IdProducto }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function(data) {

                        if (data.respuesta) {

                            cardProducto.remove();

                            mostrarCantCarrito();

                            sumaTotal()
                        }
                        else {
                            Swal.fire("", data.mensaje, "warning")

                        }
                    }

                })



         })



        function realizarPago() {

            if (parseInt($("#cantidadcarrito").text()) == 0) {

                Swal.fire("", "No hay productos en el carrito.", "warning")
                return
            }

            if ($("#cboPartido").val() == null || $("#txtNombreContacto").val() == "" || $("#txtDireccion").val() == "" || $("#txtTelefono").val() == "" ) {

                Swal.fire("", "Completar los datos del detalle del envio.", "warning")
                return
            }

            var venta = {
                TotalProducto: $("input.input-cantidad"),
                MontoTotal: 0,
                Contacto: $("#txtNombreContacto").val(),
                IdPartido: $("#cboPartido").val(),
                Telefono: $("#txtTelefono").val(),
                Direccion: $("#txtDireccion").val()
            }

            var listaCarrito = [];

            $("input.input-cantidad").each(function () {

                var producto = $(this).data("Producto");
                var cantidad = parseFloat($(this).val())

                listaCarrito.push({
                    Producto: producto,
                    Cantidad: cantidad
                })
            })

            jQuery.ajax({
                url: "@Url.Action("procesarPago", "Tienda")",
                type: "POST",
                data: JSON.stringify({ listaCarrito: listaCarrito, venta: venta }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $.LoadingOverlay("hide")

                    if (data.Status) {

                        var jsonresult = data.Response;
                        var links = jsonresult.links;
                        var resultado = links.find(item => item.rel == "approve");
                        window.location.href = resultado.href


                    }
                    else {
                        Swal.fire("", "Vuelva a intentarlo mas tarde ", "warning")
                    }
                },
                beforeSend: function () { $.LoadingOverlay("show") },
                error: function (error) { LoadingOverlay("hide")}

            })

        }















    </script>


}
